{:paths ["src"
         "resources"]
 :deps
 {org.clojure/clojure    {:mvn/version "1.11.1"}
  ;org.clojure/core.async {:mvn/version "1.3.618"}
  nano-id/nano-id {:mvn/version "1.0.0"} ; nano id
  funcool/promesa {:mvn/version "11.0.674"} ; needs to match version in ui-repl
  tick/tick {:mvn/version "0.6.2"}

  ;; web-ui deps
  reagent/reagent {:mvn/version "1.1.1"} ; https://github.com/reagent-project/reagent
  re-frame/re-frame {:mvn/version "1.2.0"}
  com.cemerick/url {:mvn/version "0.1.1"}  ; url query-strings
  cljs-ajax/cljs-ajax {:mvn/version "0.8.4"} ; needed for re-frame/http-fx
  day8.re-frame/http-fx {:mvn/version "0.2.3"}  ; reframe based http requests

  ;simplevalue/letsencrypt {:git/url "https://github.com/SimpleValue/sv.letsencrypt.git"
  ;                         :sha "8b1a85846acaaa37a58b054f2372d8fde0663b75"}

  ;; JWT / auth deps
  buddy/buddy-core {:mvn/version "1.10.1"}
  buddy/buddy-sign {:mvn/version "3.4.1"}
  buddy/buddy-auth {:mvn/version "3.0.1"}
  ; 2022 04 29: this repo has disappeared
  ;no.nsd/clj-jwt {:git/url "https://gitlab.nsd.no/clojure/clj-jwt.git", :git/sha "bc23acb3c7cbf0d2def2d395c3e3d9c405be28d5"
  ;                ;:mvn/version "0.4.5"
  ;                } ; https://gitlab.nsd.no/clojure/clj-jwt - verify signed oidc token with public keys
  clj-jwt/clj-jwt {:mvn/version "0.1.1"}; https://github.com/liquidz/clj-jwt
  ring-oauth2/ring-oauth2 {:mvn/version "0.1.5"}
  clj-oauth/clj-oauth {:mvn/version "1.5.2"}; copied over from REST

  ; pink-gorilla dependencies
  org.pinkgorilla/modular {:mvn/version "0.0.39"}
  org.pinkgorilla/permission {:mvn/version "0.0.15"}
  ; TODO: move frontend->somewhere else.
  ;modular/frontend {:local/root "../frontend" :deps/manifest :deps}
  org.pinkgorilla/websocket {:mvn/version "0.0.8"}}


 :aliases
 {:outdated {:extra-deps {com.github.liquidz/antq {:mvn/version "RELEASE"}}
             :main-opts ["-m" "antq.core"]}

  :nrepl {:extra-deps {nrepl/nrepl {:mvn/version "0.9.0"}
                       cider/cider-nrepl {:mvn/version "0.28.3"}
                       ;cider/nrepl {:mvn/version "0.3.0"}
                       }
          :main-opts  ["-m" "nrepl.cmdline"]}

  :test {:extra-paths ["test"]
         :extra-deps {io.github.cognitect-labs/test-runner {:git/url "https://github.com/cognitect-labs/test-runner.git"
                                                            :sha "cc75980b43011773162b485f46f939dc5fba91e4"}}
         :main-opts ["-m" "cognitect.test-runner"]
         :exec-fn cognitect.test-runner.api/test}

  ; github ci  
  :build {:deps {io.github.clojure/tools.build {:git/tag "v0.6.1" :git/sha "515b334"}
                 io.github.slipset/deps-deploy {:git/sha "b4359c5d67ca002d9ed0c4b41b710d7e5a82e3bf"}
                 io.github.seancorfield/build-clj {:git/tag "v0.5.4" :git/sha "bc9c0cc"}
                  ;rewrite-clj/rewrite-clj {:mvn/version "1.0.699-alpha"}
                 babashka/fs {:mvn/version "0.0.5"}}
          :ns-default build}



;
  }}


