{:modular (modular.system/modular-env)  ; {:profile "jetty"  :config ["demo.edn" "secrets.edn"]}
  ;:secrets #include "secrets.edn" ;; externalised and usually "mounted" as a docker/kubernetes secret
 :components
 {
  
  ; a list of services that in demo-serivces are bundled.
  ; useful for debugging (currently not used)
  
  :identity/local {:start (token.identity.local/start-local-identity
                           {:permission (clip/ref :permission)
                            :clj (clip/ref :clj-service)
                            :secret "AbHzj834ri9"})}

  :identity/oidc {:start (token.identity.oidc/start-oidc-identity
                          {:permission (clip/ref :permission)
                           :clj (clip/ref :clj-service)})}

  :oauth2/token-store {:start (token.oauth2.store/create-store {:clj (clip/ref :clj-service)
                                                                :store-path ".webly/tokenstore"
                                                                :store-role nil ; #{}
                                                                })}

  :oauth2 {:start (token.oauth2.core/start-oauth2-providers
                   {:clj (clip/ref :clj-service)
                    :store (clip/ref :oauth2/token-store)
                    :providers (:oauth2 (:token (deref (clip/ref :config))))
                      ;:providers {:google {:client-id "" :client-secret ""}}
                    })}

;
  }}