{:paths ["src"
         "resources"
         "target/webly"]

 :deps {org.clojure/clojure    {:mvn/version "1.11.3"}
        org.pinkgorilla/webly {:mvn/version "0.7.693"}
        org.pinkgorilla/ui-tailwind {:mvn/version "0.1.8"}
        org.pinkgorilla/oauth2 {:local/root "../" :deps/manifest :deps}
        nrepl/nrepl {:mvn/version "1.2.0"}}

 :aliases {:webly {:exec-fn webly.app.app/webly-build
                   :exec-args {:config [{}]
                               :profile "npm-install"}}
           
           :npm-install {:exec-args {:profile "npm-install"}}
           :compile {:exec-args {:profile "compile2"}}
           :release {:exec-args {:profile "release"}}
           :release-adv {:exec-args {:profile "release-adv"}}
           :static {:exec-args {:profile "static"}}
           :ci {:exec-args {:profile "ci"}}
                      
           :run {:exec-fn modular.system/start!
                 :exec-args {:profile "jetty"
                              :config ["/home/florian/repo/myLinux/myvault/goldly/oauth2-localhost.edn" ; oauth2 secrets
                                      ]
                             :services "demo-services.edn"}}
  
           }

;
 }